@import "./resets";
@import "./variables";

@function getWeight($weight-name) {
  @return map-get($font-weight, $weight-name);
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($primaryColor, 100%);
    color: darken($textColor, 100%);
  }
}

body {
  background-color: $primaryColor;
  color: $textColor;
  font-weight: getWeight(bold);
}

.main {
  @include flexCenter(row);

  width: 80%;
  margin: 0 auto;

  #{&}__paragraph {
    font-weight: getWeight(bold);

    &:hover {
      color: black;
    }
  }
}

.light {
  @include theme(false);
}
